.nav-container {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr 0.4fr;
  .logo-img{
    display: grid;
    align-items: center;
  }
  .navigation {
    display: flex;

    .nav-items {
      display: flex;
      gap: 10px;
      list-style: none;
      align-items: center;
      justify-content: center;
    }

    .nav-items li {
      /* Add some styling to each list item */

      padding: 10px 30px;

      a {
        color: white;
        transition: background-color 0.9s ease-in-out;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .nav-items li.active {
      border-radius: 10rem;
      background-color: #ddd;
      transform: scale(1.05);
      a {
        color: #0066cc;
      }
    }

    .nav-items li a:hover {
      /* Add hover effect */
    }

    .nav-items a {
      /* Add styles for anchor tags within list items */
      text-decoration: none;
      color: #333;
    }

    /* If you want to change the style of the links on hover */
    .nav-items a:hover {
      color: #0066cc;
    }
   
  }
  .hamburger{
    display: grid;
    place-content: center;
    visibility: hidden;
  }
  .profile{
    display: grid;
    place-content: center;
  }
  .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  .login-btn{
    display: grid;
    place-content: center;
    button{
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 30px;
    color: white;
    border-radius: 10rem;
    border: 1px solid rgb(255, 255, 255);
    background: #0066cc;
    }
  }
}

@media screen and (max-width: 888px) {
    .nav-container{
        .navigation{
            .nav-items {
                display: none; /* Hide the nav-items on mobile view */
              }
              .nav-items.active{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 170px;
                right: 0;
                width: 300px;
                height: 70%;
                gap: 30px;
                background: aqua;
                z-index: 99;
                opacity: 70%;
            
              }
            
              
            
              .navigation.active {
                display: flex; /* Show the nav-items when the hamburger button is clicked */
                flex-direction: column; /* Display the navigation items in a column */
              }
              
        }
        
        .hamburger{
            visibility: visible ;
            padding: 10px; /* Show the hamburger button on mobile view */
            svg{
                width: 25px;
                height: 25px;
                color: #0066cc;
            }
          }
    }
   
}