.hero-container {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  .hero-left-section {
    display: grid;
    grid-template-rows: 2fr 1.5fr 1fr 1fr;
    .main-content {
      font-size: 50px;
      font-weight: bold;
      max-width: 500px;
    }
    .para-content {
      padding-top: 20px;
      font-size: 16px;
      font-weight: lighter;
      color: white;
    }
    .btn-section {
      button {
        padding: 15px 30px;
        border: 1px solid rgb(255, 255, 255);
        color: white;
        background-color: #0066cc;
        border-radius: 10rem;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .three-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-content: center;
      .box1 {
        .number {
          display: grid;
          place-content: center;
          font-size: 34px;
          font-weight: bolder;
          padding: 10px 0;
          color: #ad1010;
        }
        .num-content {
          display: grid;
          place-content: center;
          font-size: 14px;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
  .hero-right-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding-left: 30px;
    .left-img {
      display: grid;
      place-content: center;
      img {
        object-fit: contain;
        width: 300px;
        height: auto;
        padding-left: 20px;
        border-radius: 4rem;
      }
    }
    .right-imgs {
      display: grid;
      grid-template-rows: 1fr 1fr;
      img {
        width: 250px;
        height: 300px;
        object-fit: cover;
        padding: 10px;
        border-radius: 4rem;
      }
      .right-img1 {
        margin-top: 10px;
      }
    }
  }
}

.content-container {
  padding-top: 100px;
  // padding: 100px;
  display: grid;
  grid-template-rows: 0.2fr 2fr;
  .content-heading {
    display: grid;
    place-content: center;
    .grid-center {
      display: grid;
      place-content: center;
      h2 {
        text-align: center;
        max-width: 435px;
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
    .para-content-section {
      font-weight: lighter;
      font-size: 16px;
      color: white;
      padding: 10px;
      max-width: 435px;
      text-align: center;
    }
  }
  .content-boxes {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 0 20px;

      .box-icon {
        display: grid;
        place-content: center;
        img {
          width: 150px;
          height: 150px;
        }
      }
      .box-heading {
        font-size: 20px;
        font-weight: bold;
      }
      .box-content {
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
      .box-arrow-icon {
        color: #0066cc;
        svg {
          width: 40px;
          height: 50px;
        }
        :hover {
          color: #0982fb;
        }
      }
    }
  }
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  padding: 100px 50px 0 50px;
  height: auto;
  width: auto;
  .about-left {
    .main-img {
      padding-top: 50px;
      display: grid;
      place-content: center;
      img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 2rem;
      }
    }
  }
  .about-right {
    padding-top: 50px;
    .heading {
      max-width: 400px;
      font-size: 30px;
      font-weight: bolder;
    }
    .paragraph {
      font-weight: lighter;
      color: white;
      line-height: 25px;
      padding: 20px 0;
    }
    .button {
      button {
        padding: 15px 30px;
        border: 1px solid rgb(255, 255, 255);
        color: white;
        background-color: #0066cc;
        border-radius: 10rem;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.service-card-section {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  .service-card {
    padding: 10px;
    .heading {
      font-size: 18px;
      font-weight: bold;
    }
    .description-service {
      color: white;
      font-weight: lighter;
      padding-top: 10px;
    }
    .indexandarrow {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
    .box-arrow-icon {
      padding: 10px 0;
      color: #0066cc;
      svg {
        width: 30px;
        height: 40px;
      }
      :hover {
        color: #0982fb;
      }
    }
    .index-service {
      width: 30px;
      padding: 5px;
      display: grid;
      place-content: center;
      p {
        padding: 10px 20px;
        border: 1px solid #0066cc;
      }
    }
  }
}
.feature-container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 100px 100px;
  .feature-left {
    .feature-heading {
      font-size: 32px;
      font-weight: bold;
      padding: 10px;
    }
    .feature-content {
      color: white;
      padding: 10px 0;
      p {
        font-weight: lighter;
        font-size: 18px;
        padding: 5px 10px;
        max-width: 375px;
      }
    }
  }
  .feature-right {
    img {
      max-width: 500px;
      border-radius: 2rem;
    }
  }
}

.doctor-container {
  padding: 50px;
  // padding: 100px;
  display: grid;
  grid-template-rows: 0.2fr 2fr;
  .doctor-heading {
    display: grid;
    place-content: center;
    .grid-center {
      display: grid;
      place-content: center;
      h2 {
        text-align: center;
        max-width: 435px;
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
    .para-doctor-section {
      font-weight: lighter;
      font-size: 16px;
      color: white;
      padding: 10px;
      max-width: 435px;
      text-align: center;
    }
  }
  .doctor-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 0;
    .doctor-card {
      padding: 10px;
      .doctor-img {
        overflow: hidden;
        border-radius: 2rem;
        img {
          width: 300px;
          height: 350px;
          object-fit: cover;
          border-radius: 2rem;
          transition: transform 0.5s ease;
        }
        
      }
      .doctor-img:hover img{
        transform: scale(1.2);
        
    }
      .doctor-name{
        padding: 5px 10px;
        font-size: 20px;
        font-weight: bold;
      }
      .doctor-specilization{
        background: rgb(144,211,241);
        background: linear-gradient(90deg, rgba(144,211,241,1) 0%, rgb(106, 203, 232) 35%, rgba(0,212,255,1) 100%);
        width: fit-content;
        padding: 10px 20px;
        margin: 0 10px;
        color: white;
        opacity: 70%;
        font-weight: bold;
      }
      .rating{
        padding: 5px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .doctor-rating{
            display: grid;
            place-content: center;
        }
      }
      .doctor-hospital{
        padding: 0 10px;
      }
      
    }
  }
}

.faq-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    .faq-img{
        display: grid;
        place-content: center;
        img{
            width: 350px;
            height: 400px;
            border-radius: 2rem;
            object-fit: cover;
        }
    }
    .faq-question-section{
       
        h2{
            padding: 20px 10px;
        }
        .faq-item{
            padding: 10px;
            margin: 10px 0;
            border: 1px solid black;
            border-radius: 1rem;
        }
    }
}
