@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manrope', sans-serif;
  background-color: #b3b3b3;
  padding: 30px 50px;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #0066cc; /* Set the scrollbar thumb color to transparent */
}

@media(max-width: 564px){
  body{
    padding: 30px 10px;
  }
}